.cesium-viewer, .cesium-animation-svgText {
  font-family: "Do Hyeon", sans-serif;
}

.cesium-credit-expand-link {
  position: absolute;
  width: auto;
  bottom: 4px;
  margin-left: 8px;
}

.cesium-infoBox {
  bottom: 32px;
  right: 10px;
  top: auto;
  width: 300px;
}

.cesium-infoBox-visible {
  transform: translate(0px, 0px);
}

.cesium-viewer-toolbar {
  top: 50px;
  z-index: 100;
}

.cesium-credit-lightbox-overlay {
  z-index: 200;
}

.cesium-infoBox-close:hover, .cesium-credit-lightbox-close:hover {
  background-color: #48b !important;
  color: #ffffff !important;
}

/* .cesium-infoBox-close:active {
  background-color: #aef !important;
  color: #000000 !important;
} */

.cesium-credit-lightbox-close {
  padding: 2px 5px 0px 5px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 2px;
  top: 5px;
  right: 5px;
}

.cesium-credit-lightbox div > a {
  color: #cecece !important;
}

.cesium-credit-lightbox div > a:hover {
  color: #48b !important;
  text-decoration: none;
}

.tooltip-inner {
  font-family: "Do Hyeon", sans-serif;
}

.btn {
  border: none;
}

.btn-secondary {
  background-color: #303336;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #303336;
  border-color: #ffffff;
}

.dropdown-toggle {
  border-radius: 0rem;
  border-bottom: 3px double;
}

.dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:focus {
  box-shadow: none !important;
  border-bottom: 3px double;
}

.dropdown-toggle:hover {
  background-color: #48b;
}

/* .dropdown-toggle:active {
  background-color: #aef !important;
  color: #000000 !important;
} */

.dropdown-menu {
  min-width: inherit;
  border-radius: 0rem;
  padding: 0rem;
}

.dropdown-item:active {
  background-color: #48b;
}

.js-plotly-plot {
  position: absolute;
  bottom: 32px;
  right: 10px;
  margin-left: 0% !important;
}

.modebar .modebar-group:nth-child(5) a:nth-child(2), .modebar .modebar-group:nth-child(5) a:nth-child(3) {
  display: none;
}

.modebar-btn:hover {
  font-family: "Do Hyeon", sans-serif;
}

html, body, #world-wind-3d-city, #world-wind-3d-city-canvas, #cesium-3d-city, #cesium-deformation, #cesium-lulc {
  width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
  font-family: "Do Hyeon", sans-serif;
}

hr {
  border-top: 3px double #ffffff;
  margin: 8px 0px;
}

#window {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(17, 17, 17, 1.0);
}

#cesium-3d-city, #cesium-deformation, #cesium-lulc {
  display: none;
}

#header-nasa-image {
  height: 24px;
  width: auto;
  vertical-align: middle;
}

#header-cesium-image {
  height: 24px;
  width: auto;
  vertical-align: middle;
}

#lulc-vgi, #deformation-mean, #deformation-cumulative {
  position: absolute;
  top: 50px;
  z-index: 100;
  border-radius: 0rem;
  border-bottom: 3px double;
}

#lulc-vgi {
  left: 104px;
}

#deformation-mean {
  left: 112px;
}

#deformation-cumulative {
  left: 180px;
}

#deformation-mean, #deformation-cumulative {
  opacity: 0.6;
}

#lulc-vgi:hover, #lulc-vgi:active, #lulc-vgi:focus, #deformation-mean:hover, #deformation-mean:active, #deformation-mean:focus, #deformation-cumulative:hover, #deformation-cumulative:active, #deformation-cumulative:focus {
  box-shadow: none;
}

#lulc-vgi:hover, #deformation-mean:hover, #deformation-cumulative:hover {
  background-color: #48b !important;
}

/* #lulc-vgi:active, #deformation-mean:active, #deformation-cumulative:active {
  background-color: #aef;
  color: #000000;
} */

#vgi-attribution-link {
  left: 296px;
}

#vgi-attribution-lightbox-overlay {
  display: block;
  visibility: hidden;
}

#vgi-attribution-text {
  text-align: justify;
  font-size: 13px;
  padding: 20px;
}

#legend-lulc-ispra-land-cover {
  width: 330px;
}

#legend-deformation-mean {
  padding: 0px;
}

#legend-deformation-mean img {
  width: 330px;
}

#legend-milan-flood-risk {
  top: 140px;
}

#legend-milan-flood-risk-title {
  text-align: center;
  margin-bottom: 6px;
}

#table-water-height {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  right: 8px;
  top: 94px;
  background-color: #303336;
  color: #ffffff;
}

#table-water-height td {
  padding: 4px;
}

#table-water-height input[type="range"] {
  vertical-align: middle;
}

#table-water-height input[type="text"] {
  background-color: #303336;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.project-attribution-link {
  left: 212px;
}

.project-attribution-lightbox-overlay {
  display: block;
  visibility: hidden;
}

.project-attribution-text {
  text-align: justify;
  font-size: 13px;
  padding: 20px 20px 0px 20px;
}

.project-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 20px;
}

.switcher {
  position: absolute;
  top: 52px;
  left: 8px;
}

.use-case-button {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-style: double;
  padding: 5px 0px 5px 0px;
}

.legend {
  position: absolute;
  top: 94px;
  right: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6px;
  z-index: 100;
}

.legend-JS {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  color: #303336;
  line-height: 1.8;
}

.legend .second-level {
  padding-left: 6px;
  display: none;
}

.legend .third-level {
  padding-left: 12px;
  display: none;
}

.legend .fourth-level {
  padding-left: 18px;
  display: none;
}

.legend-text {
  display: inline;
  margin-right: 4px;
}

.legend-icon, .color-box {
  width: 22px;
  height: 22px;
  float: right;
}

.legend-icon {
  margin-right: 4px;
}

.caret {
  display: inline;
}

.caret img {
  width: 10px;
}

.caret-image-up {
  display: none;
}

.layer-list {
  position: absolute;
  top: 100px;
  left: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6px 12px;
  background-color: #303336;
  color: #ffffff;
}

.layer-list input {
  cursor: pointer;
}

.layer-list label {
  margin: 0px;
  padding: 3px 0px 3px 3px;
  cursor: pointer;
}
