.cesium-viewer {
  font-family: 'Do Hyeon', sans-serif;
}

.cesium-credit-expand-link {
  position: absolute;
  width: auto;
  bottom: 4px;
}

.tooltip-inner {
  font-family: 'Do Hyeon', sans-serif;
}

.dropdown-toggle {
  border-radius: 0rem;
  border-bottom: 3px dashed;
}

.dropdown-toggle:focus, .dropdown-toggle:active {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 3px dashed !important;
}

.dropdown-menu {
  min-width: inherit;
  border-radius: 0rem;
  padding: 0rem;
  transform: translate3d(-3px, 38px, 0px) !important;
}

a:active {
  background-color: orange !important;
}

html, body, #world-wind-3d-city, #world-wind-3d-city-canvas, #cesium-deformation, #cesium-3d-city {
  width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
  font-family: 'Do Hyeon', sans-serif !important;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(17, 17, 17, 1.0);
}

#cesium-deformation, #cesium-3d-city {
  display: none;
}

#top-section-nasa-image {
  height: 24px;
  width: auto;
  vertical-align: middle;
}

#top-section-cesium-image {
  height: 24px;
  width: auto;
  vertical-align: middle;
}

.location-switcher {
  position: absolute;
  top: 60px;
  right: 20px;
}

.section {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-style: dashed;
  padding: 5px 0px 5px 0px;
}
